* {
    box-sizing: border-box;
}
img {
    max-width: 100%;
}
/* Typographies / Couleurs (exemples : titres, paragraphes, liens, etc.)
========================================================================== */
h1 {
    color: red;
    background-color: aqua;
    padding: 2%;
}
p {
    color: rgb(255, 123, 0);
    font-size: 1rem;
    padding: 1%;
}
h2 {
    color: seashell;
}
/* Mise en page (positionnement)
========================================================================== */
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.flexHead {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
body {
    background-color: rgb(38, 37, 36);
}

/* Header / Navigations / Footer 
========================================================================== */
nav {
    text-align: right;
    width: 75%;
}

nav li {
    display: inline-block;
    text-align: center;
    margin: 0% 1%;
    padding: 0% 1%;
    font-size: 1.5rem;
    font-weight: 500;
}
nav a {
    font-weight: 600;
    text-decoration: none;
    color: rgb(255, 123, 0);
}
nav a:hover {
    transition: color 0.4s, 0.4s;
    color: red;
    font-weight: 600;
    text-decoration: underline;
}
.logo:active img {
    content: url("../media/logoGB2.png");
}
.flexFooter {
    color: rgb(255, 123, 0);
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
}
.footerReseaux {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.footerReseaux a {
    padding: 2%;
}

.footerReseaux p {
    padding: 2%;
    white-space: nowrap;
}
.flexFooter2 {
    color: rgb(255, 123, 0);
    display: flex;
    justify-content: flex-start;
    width: 100%;
}
.flexFooter2 p {
    text-decoration: underline;
}
.flexFooter2-1 {
    display: flex;
    justify-content: flex-end;
}
.flexFooter2-1 p {
    text-decoration: underline;
    margin: 0% 5%;
}
.flexEND {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    border-top: solid 4px black;
}

/* Page d'accueil
========================================================================== */
.flexSection1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6%;
}
img {
    width: 100%;
}

.flexS1-1 {
    width: 30%;
    line-height: 1.5rem;
}
.flexS1-2 {
    width: 65%;
    border: solid 4px rgb(255, 123, 0);
}
a.headerButton {
    text-align: left;
    border-width: 2px;
    padding: 5px 5px 5px 5px;
    border-color: #d4c254;
    border-style: solid;
    color: #d4c254;
    font-size: 0.9rem;
    font-weight: 600;
    padding: 10px 10px 8px 10px;
    border-radius: 20px;
    display: inline-block;
    width: fit-content;
}

.a.headerButton:hover {
    transition: color 0.4s, 0.4s;
    text-align: left;
    background-color: #d4c254;
    border-width: 2px;
    border-color: #d4c254;
    border-style: solid;
    color: #141115;
    font-size: 0.9rem;
    font-weight: 600;
    padding: 10px 10px 8px 10px;
    border-radius: 20px;
    display: inline-block;
    width: fit-content;
}
/*client satisfaits
========================================================================== */

img.clientsatisfaitimage {
    border-radius: 50%;
    max-width: 27%;
    margin-left: 3%;
    margin-top: 2%;
    border: 4px solid #d4c254;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}
.grid-container {
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    grid-template-rows: 4fr 4fr;
}
.grid-items {
    border: solid 4px rgb(255, 123, 0);
    margin: 3%;
    background: linear-gradient(
        to bottom,
        #dc7e1f 0%,
        #ebe3d5 50%,
        #f7f0f5 100%
    );
    display: grid;
    grid-template-rows: 50% 50%;
}
.grid-items p {
    font-style: italic;
    margin: 3% 5%;
}
.grid-in {
    display: flex;
    align-items: center;
    gap: 10px;
}
.grid-in p {
    margin-top: 10%;
    font-weight: 900;
    font-size: large;
    color: rgb(62, 36, 4);
}
/* Lien réseaux sociaux
========================================================================== */
.reseaux {
    display: grid;
    grid-template-columns: 15% 85%;
    max-width: 700px;
    justify-content: space-between;
}
.container2 {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.container2 {
    background-color: rgb(255, 255, 255);
}
/* Réservation
========================================================================== */
.red-dot {
    color: red;
    font-weight: bold;
}
form {
    color: rgb(214, 173, 134);
    background-image: url("../media/bgLarge.jpg");
    width: 100%;
    background-size: cover;
}
.formBg {
    background-color: #381e0483;
    padding: 2%;
}
.formSendBg {
    background-color: rgb(126, 237, 154);
    padding: 2%;
}
.formSpace {
    padding: 2%;
    margin: 5% 0%;
}
legend {
    font-weight: 900;
}
.contact1 {
    display: flex;
    gap: 20px;
}

.contact1 .form-group {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.contact1 input {
    width: 100%;
    box-sizing: border-box;
    height: 40px;
}
.contact2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
    padding: 2%;
}
.contact22 {
    display: flex;
    justify-content: space-around;
    align-items: start;
}
.form-container {
    display: grid;
    grid-template-columns: 70% 30%;
}
input {
    margin: 2%;
}
#nbr-quantite {
    width: 60px;
}
.formSend p {
    border: solid 5px rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    background-color: rgb(126, 237, 154);
    text-align: center;
    font-weight: 900;
    font-size: 1.5rem;
    margin: 1% 5%;
}
.formSend {
    display: flex;
    justify-content: center;
    align-items: center;
}
textarea {
    width: 100%;
    max-width: 500px;
    height: 120px;
    resize: none;
}
.form-group {
    display: flex;
    direction: column;
    justify-content: start;
    align-items: center;
}
.form-submit {
    text-align: center;
    margin-top: 20px;
    font-size: 2rem;
}
input {
    background-color: rgba(95, 48, 4, 0.493);
    color: antiquewhite;
}

/* Restaurant
========================================================================== */

/* Ma commande
========================================================================== */
